body{
  background: url(../images/background.png);
  background-color:#dae6ed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  color: #193347;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 970px;
}

.container {
  margin: 0 auto;
  max-width: 1580px;
  padding-right: 0px;
  padding-left: 0px;
}

.col-1 {
  width: 10%;
}

.col-2 {
  width: 20%;
}

.col-3 {
  width: 30%;
}

.col-4 {
  width: 40%;
}

.col-5 {
  width: 50%;
}

.col-6 {
  width: 60%;
}

.col-7 {
  width: 70%;
}

.col-8 {
  width: 80%;
}

.col-9 {
  width: 90%;
}

.col-10 {
  width: 100%;
}

.custom-title {
  position: relative;
  font-size: 165px;
  font-weight: 900;
  line-height: 1;
  margin-bottom: -50px;
  text-transform: none;
  margin: 0; 
  color: #000;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(45deg, #cbe1ef, #f0f8fe);
  background-image: -o-linear-gradient(45deg, #cbe1ef, #f0f8fe);
  -webkit-background-clip: text;
}

h4 {
  position: relative;
  color: #193347;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 20px;
  z-index: 2;
}


.link-style {
  display: inline-block;
  color: #f7a140;
  font-size: 30px;
  font-weight: 900;
  line-height: 1;
  line-height: 2.72;
  text-decoration: underline;
  font-size: 24px;
  text-shadow: 0 7px 9px rgba(33, 62, 83, 0.12);
} 

.link-style:hover {
  color: #f7a140;
} 

.small-icon-wrap {
  position: absolute;
  width: 60%;
}

/* Home */

.home {
  padding: 120px 0 150px;
}

.home-row {
  display: flex;
}

.home-col-1 {
  position: relative;
  width:38%;
  margin: auto;
}

.home-col-2 {
  position: relative;
  width:60%;
  margin: auto;
}

.home-col:first-child {
  z-index: 1;
}

.home-text-wrap {
  padding-left: 25px;
  margin-top: 40px;
}

.home-text-wrap h3{
  line-height: 1.3;
  font-weight: 400;
  font-size: 36px;
}

.home-img-wrapper {
  width:700px;
  position: relative;
}

.home-btn-wrap {
  margin-top: 35px;
}

.home-text-para {
  max-width: 530px;
  margin-top: 35px;
  color: #5b97c6;
  font-size: 20px;
}

.home-text {
  font-size: 20px;
  margin-left: 25px;
}

.logo {
  max-width: 458px;
}

.logo img {
  display: block;
  max-width: 85%;
  height: auto;
}

.home-image {
  position: absolute;
  left: 40%;
  top: 50%;
  transform: translate(-30%, -47%);
}

.home-bg {
  display: block;
  max-width: 100%;
  height: 520px;
}

.home-overlay {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 84%;
  height: 89%;
  border-radius: 12px;
  overflow: hidden;
  object-fit: cover;
}

.home-play-btn {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 104px;
  z-index: 10;
  cursor: pointer;
  transition: 0.4s ease;
}

.home-play-btn:hover {
  transform:  translate(-50%, -50%) scale(1.05);
}

.home-icon{
  display: block;
  position: absolute;
}

.home-icon:nth-child(1){
  max-width: 75px;
  left: -13px;
  top: -57px;
}
  
.home-icon:nth-child(2){
  max-width: 55px;
  left: 710px;
  top: 510px;
}
  
.home-icon:nth-child(3){
  max-width: 30px;
  left: 720px;
  top: 440px;
}
  
.home-icon:nth-child(4){
  max-width: 10px;
  left: 770px;
  top: 480px;
}
  
.home-icon:nth-child(5){
  max-width: 25px;
  left: -60px;
  top: 25px;
}


/* about our content */


.heading-up{
  text-align: left;
  margin-bottom:-60px;
}

.heading-down{
  margin-left:215px;
}

.content {
  position: relative;
  padding: 200px 0px 150px 0px;
}

.cRow {
  display: flex;
  margin-left:-5%;
}

.content-row {
  display: flex;
}

.content-content-wrap {
  padding-left: 60px;
  margin-top:-50px;
}

.content-content-wrap p{
  font-size: 16px;
  margin-bottom: 20px;
}

.content-col {
  width: 50%;
}

.content-image-wrap {
  display: flex;
  justify-content: flex-end;
  margin-top:-4%;
}

.anim-icon-wrap {
  width: 434px;
  height: 482px;
  position: relative;
}

.anim-icon-wrap-icon {
  position: absolute;
  display: block;
}

.anim-icon-wrap-icon:nth-child(1) {
  max-width: 72%;
  left: 10%;
  top: 20%;
}

.anim-icon-wrap-icon:nth-child(2) {
  max-width: 30%;
  left: 70%;
  top: 41%;
}

.anim-icon-wrap-icon:nth-child(3) {
  max-width: 50%;
  left: -5%;
  top: 54%;
}

.anim-icon-wrap-icon:nth-child(4) {
  max-width: 33%;
  left: 42%;
  top: 75%;
}

.content-icon{
  display: block;
  position: absolute;
}

.content-icon:nth-child(1){
  max-width: 17px;
  left: -40px;
  top: 58px;
}
  
.content-icon:nth-child(2){
  max-width: 17px;
  left: 405px;
  top: 515px;
}
  
.content-icon:nth-child(3){
  max-width: 65px;
  left: 140px;
  top: 490px;
}
  
.content-icon:nth-child(4){
  max-width: 20px;
  left: 35px;
  top: 82px;
}
  
.content-icon:nth-child(5){
  max-width: 55px;
  left: 340px;
  top: 420px;
}

.content-icon:nth-child(6){
  max-width: 38px;
  left: -19px;
  top: 120px;
}


.btn-style {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  transition: .3s ease;
  line-height: 1.2;
  text-decoration: none;
  min-width: 170px;
  border-radius: 10px;
  height: 70px;
  box-shadow: 0 15px 25px rgba(25, 51, 71, 0.1), inset 0 -5px 0 rgba(0, 0, 0, 0.1);
  background-color: #d2de40;
  background-image: linear-gradient(25deg, rgba(195, 216, 46, 0.5) 0%, rgba(230, 231, 93, 0.5) 100%);
} 

.btn-style-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 25px;
}
  
.btn-style-text {
  text-align: center;
  position: relative;
  display: block;
  text-decoration: none;
  text-shadow: 0 3px 5px rgba(33, 62, 83, 0.2);
  color: white;
  font-size: 26px;
  font-weight: 900;
}
  
.btn-style:hover {
  background-color: #b4c03c;
}

.btn-style:focus{
  border: none;
}

.btn-style:focus{
  outline: none;
}



/************************
     Keypoint Section 
*************************/

.keypoint{
  margin: 150px 0px 100px 0px;
}

.keypoint-row{
  display: flex;
  justify-content: space-around;
  position: relative;
}  

.keypoint-title {
  display: block;
  color:  #000;
  font-size: 135px;
  font-weight: 900;
  line-height: 1.2;
  text-transform: none;
  text-align: center;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(45deg,#f0f8fe, #cbe1ef);
  background-image: -o-linear-gradient(45deg, #f0f8fe, #cbe1ef);
  -webkit-background-clip: text;
  position: absolute;
  top:-129px;
  left:250px;
}

.card-body{
  display: flex;
  flex-direction: column;
  box-shadow: 0 0px 30px #eef5f9;
}
  
.card img{
  width: 240px;
  height: 220px;
  margin: auto auto 40px auto;
}

.card.keypoint-card{
  border: none;
  background-color: white;
  margin: auto;
  width: 30%;
}
  
.keypoint-card .top{
  margin-top: 7%;
  text-transform: uppercase;
}
  
.top{
  min-height: 60px;
}
  
.middle{
  min-height: 250px;
}
  
.bottom{
  min-height: 470px;
  font-size: 18px;
  font-weight: 300;
}

.keypoint-image-wrap{
  position: relative;
}

.keypoint-icon{
  display: block;
  position: absolute;
}

.keypoint-icon:nth-child(1){
  max-width: 38px;
  left: 235px;
  top: -65px;
}
  
.keypoint-icon:nth-child(2){
  max-width: 12px;
  left: 980px;
  top: -89px;
}
  
.keypoint-icon:nth-child(3){
  max-width: 33px;
  left: 1000px;
  top: -82px;
}

/********************
    tools
*********************/


.tools {
  text-align: center;
  padding: 60px 0;
} 

.tools-wrap {
  display: flex;
  justify-content: center;
}
  
.tools-item {
  width: 30%;
  margin: 0 20px 0px;
}

.tools-num {
  position: relative;
  text-shadow: 0 13px 50px #dbebf4;
  color: #fff;
  z-index: 10;
  margin-right: 100px;
  bottom: -55px;
  font-size: 250px;
  font-weight: 900;
  line-height: 1;
}

  
.tools-top-wrap {
  position: relative;
  height: 210px;
}

.tools-icon {
  display: block;
  max-width: 220px;
  position: absolute;
  right: 40px;
  bottom: -10px;
  max-height: 100%;
}

.tools-text {
  position: relative;
  z-index: 20;
}


/********************
    form
*********************/

.app-form {
  position: relative;
  text-align: center;
  padding: 250px 0px 0px 0px;
}

#text{
  color: #daebf4;
  font-size: 70px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
}

.placeholder-form {
  margin-top: 120px;
  text-align: justify;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 1170px;
}

.form-label {
  color: rgba(25, 51, 71, 0.41);
  font-size: 14px;
  font-weight: 300;
  line-height: 1.41;
  text-align: right;
  margin-right: 80px;
}
  
.form {
  text-align: justify;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 1170px;
}

.form-row {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  vertical-align: top;
  margin-top: 55px;
  justify-content: space-between;
}

.form-row-btn{
  max-width: 1170px;
  padding: 0px;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  vertical-align: top;
  margin-top: 55px;
  justify-content: space-between;
}

  
.form-col {
  width: 47%;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: flex-start;
  margin-bottom: 25px;
}
  
textarea {
  resize: none;
  overflow: hidden;
  padding-top: 15px;
  transition: none;
  height: 132px;
}
  
.input-style {
  position: relative;
  width: 100%;
}

select.input-style-input{
  font-weight: 300;
  padding-left: 40%;
}

.input-style-input {
  position: relative;
  z-index: 9;
  transition: 0.5s ease;
  border-radius: 3px;
  width: 100%;
  padding: 10px 45px;
  height: 85px;
  box-shadow: 0 13px 50px rgba(219, 235, 244, 0.6);
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: 400;
  border: none;
  outline: none;
}

.input-style-label {
  position: absolute;
  top:-30px;
  left: 45px;
  z-index: 11;
  white-space: nowrap;
  pointer-events: none;
  line-height: 1;
  transition: 0.5s ease;
  opacity: 0.6;
  color: #193347;
  font-size: 20px;
  font-weight: 400;
} 

.input-style-label-right {
  position: absolute;
  top:-30px;
  right: 45px;
  z-index: 11;
  white-space: nowrap;
  pointer-events: none;
  line-height: 1;
  transition: 0.5s ease;
  opacity: 0.6;
  color: #193347;
  font-size: 20px;
  font-weight: 400;
} 

.lms-text{
  margin-top:2%;
  margin-bottom:2%;
  text-align: center;
  color: #778692;
}
  
select {
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../images/svg/arrow.svg) no-repeat;
  background-position: 40px 38px;
  border-right: 10px solid black;
}


.form-2{
  background-color: rgba(219, 235, 244, 0.05);
}

.radio{
  display: flex;
  width: 85%;
  margin: 0 0 4% auto;
}

.radio1,.radio2,.radio3{
  width: 35%;
  margin: auto;
}

.radio1 p,.radio2 p,.radio3 p{
  display: inline;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  visibility: hidden;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
  position: relative;
  cursor: pointer;
  line-height: 20px;
    
}

[type="radio"]:checked + label{
  width: 100px;
}

[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: -75px;
  top: -30px;
  width: 60px;
  height: 60px;
  margin-left: 70px;
  box-shadow: 0 15px 25px rgba(25, 51, 71, 0.1), inset 2px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #f6fafd;
  border: 15px solid rgb(255, 255, 255);
  border-radius: 100%;
}

#radio1:checked + label:before{
  content: '';
  position: absolute;
  left: -75px;
  top: -30px;
  width: 80px;
  height: 93px;
  margin-left: 70px;
  box-shadow: 0 15px 25px rgba(25, 51, 71, 0.1), inset 2px 2px 4px rgba(0, 0, 0, 0.2);
  border: 40px solid rgb(255, 255, 255);
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
}

#inputBox{
  display: none;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 30px;
  height: 30px;
  box-shadow: 0 15px 25px rgba(25, 51, 71, 0.1), inset 0 -5px 0 rgba(0, 0, 0, 0.1);
  background-color: #d2de40;
  position: absolute;
  left: 20px;
  top: -12px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}


/********************
     Contact
*********************/

.contact{
  padding:150px 0px 0px 150px ;
  position: relative;
}

.contact-row{
  display: flex;
  align-items: center;
  position: relative;
}

.contact-col-2 {
  max-width: 38%;
}

.contact-col-1 {
  max-width: 60%;
  flex: 0 0 60%;
}

.free-trial-btn{
  margin-top: 20px;
}

.contacts-title {
  font-size: 35px;
  font-weight: 400;
  line-height: 1;
}

.contacts-title span{
  font-size: 50px;
  font-weight: 700;
}

.contacts-title a{
  font-weight: 700;
  color:  #193347;
  text-decoration: none;
}

.contacts-subtitle {
  font-size: 26px;
  line-height: 1;
  margin-bottom: 40px;
}

.contacts-btn-wrap {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.contacts-text {
  font-size: 30px;
  font-weight: 400;
  margin-right: 18px;
}

.contacts-btn{
  display: inline;
}

.contacts-helmet {
  display: block;
  margin-top: 50px;
  max-width: 100%;
}

.contacts-image-wrap {
  position: relative;
}

.contact-icon{
  display: block;
  max-width: 40px;
  position: absolute;
}

.contact-icon:nth-child(1) {
  max-width: 72px;
  left: 400px;
  top: -455px;
}

.contact-icon:nth-child(2) {
  max-width: 28px;
  left: -53px;
  bottom: 56px;
}

.contact-icon:nth-child(3) {
  max-width: 60px;
  left: -7px;
  bottom: -10px;
}

.contact-icon:nth-child(4) {
  max-width: 12px;
  left: -81px;
  bottom: 23px;
}

.contact-icon:nth-child(5) {
  max-width: 32px;
  left: 375px;
  top: -365px;
}

/**************
    Footer 
***************/

.footer {
  position: relative;
  padding: 200px 0 20px;
}

.footer-logo-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

.footer-logo {
  margin-right: 33px;
}

.footer-logo img{
  display: block;
  max-width: 160px;
  height: auto;
}

.footer-nav {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.footer-nav a{
  color: #193347;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  margin-right: 20px;
  text-decoration: none;
}

.footer-copyright {
  opacity: 0.5  ;
  color: #193347;
  font-size: 18px;
}


.row {
  display: flex;
  align-items: center;
} 


/********************
    Lift Up  
*********************/

.lift-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  z-index: 80 ;
  width: 60px;
  height: 60px;
  box-shadow: 0 0 35px rgba(177, 192, 201, 0.75);
  background-color: white;
  transform: translateY(120%);
  transition:  0.5s ease;;
}

._active {
  transform: translateY(0);
}
  
.lift-up:after {
  content: "";
  display: block;
  width: 22px;
  height: 16px;
  background-image: url(../images/svg/arrow.svg);
  transform: scale(1, -1);
  background-repeat: no-repeat;
  background-size: contain;
}

  
.lift-up:hover::before{
  transform: translate(-50%, -70%) rotate(-90deg);
}



/**************************
        Media Query
***************************/

@media only screen and (min-width:600px){
  .main-container {
    width: 90%;
    margin:auto;
  }
    
}


@media only screen and (max-width:766px){

  .custom-title {
    font-size: 130px;
    text-align: center;
  }

  .heading-down{
    margin: 30px 0px 0px 0px;
  }

  .home-image {
    transform: translate(-39%, -49%);
  }

  .home-col-1 {
    width:90%;
    margin: auto;
  }

  .home-text-wrap h3{
    font-size: 50px;
  }

  .home-text-para {
    max-width: 100%;
    font-size: 38px;
  }
  .home-col-2 {
    width:100%;
    margin: auto;
  }

  .home-btn-wrap{
    text-align: center;
  }

  .home-row {
    flex-direction: column;
  }

  .home-img-wrapper {
    top: 321px;
    width:735px;
  }

  .home-icon:nth-child(1) {
    top: 270px;
  }

  .home-icon:nth-child(2) {
    top: 820px;
    left: 745px;
  }

  .home-icon:nth-child(3) {
    top: 760px;
    left: 755px;
  }

  .home-icon:nth-child(4) {
    top: 800px;
    left: 805px;
  }

  .home-icon:nth-child(5) {
    top: 330px;
  }

  .row {
    flex-direction: column;
    margin:0px;
  }

  /*   content  */


  .content{
    padding: 0px 20px 150px 0px;
    margin-top:600px;
  }

  .cRow {
    flex-direction: column;
    margin-left:0%;
  }

  .content-image-wrap.col-5{
    min-width: 100%;
    justify-content: center;
  }

  .content-content-wrap.col-7{
    min-width: 90%;
    margin: 75px auto auto auto;
    padding: 0px;
  }

  .content-content-wrap.col-7 p{
    font-size: 34px;
  }

  h4{
    font-size: 40px;
  }

  .link-style{
    font-size: 40px;
  }

  .btn-style{
    width:380px;
    height:100px;
  }

  .btn-style-text{
    font-size: 38px;
    font-weight: 800;
  }


  /*   Keypoint */

  .card-body p{
    font-size: 34px;
    text-align: left;
  }

  .keypoint-row {
    flex-direction: column;
    margin: auto;
    width: 85%;
  }

  .keypoint-title{
    top:-185px;
    width:100%;
    left:0;
  }

  .keypoint-icon:nth-child(1) {
    max-width: 40px;
    left: 88px;
    top: -120px;
  }

  .keypoint-icon:nth-child(2) {
    max-width: 20px;
    left: 820px;
    top: -145px;
  }

  .keypoint-icon:nth-child(3) {
    max-width: 38px;
    left: 850px;
    top: -130px;
  }

  
  .card.keypoint-card{
    width: 100%;
    margin-bottom: 40px;
  }
    
  .card-text.bottom{
   height: fit-content;
  }

  .card img {
    width: 375px;
    height: 250px;
  }

  /*  tool */

  .tools {
    padding: 100px 0 0;
  }

  .tools-wrap{
    flex-direction: column;
    align-items: center;
  }

  .tools-item{
    width: 60%;
    margin: 0px 0px 140px 0px;
  }

  .tools-num{
    margin-right: 0px;
    bottom: 36px;
    font-size: 350px;
  }

  .tools-text{
    font-size: 26px;
  }

  .tools-icon{
    right: -50px;
    bottom: 18px;
    min-width: 300px;
  }

  /*  form */

  .app-form{
    padding: 50px 0px 0px 0px;
  }

  .lms-text{
    font-size: 28px;
  }

  .input-style-label, .input-style-label-right{
    font-size: 35px;
    line-height: .5;
  }

  .form-row, .form-row-btn{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }

  .form-col, .form-2 , .form-row-btn{
    width:90%;
    margin: auto;
  }

  input.input-style-input{
    margin-bottom: 60px;
  }

  .input-style-label-right {
    left:45px;
    right: 0;
  } 

  .form-2{
    font-size: 28px;
  }

  .form-label{
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    margin-right: 0px;
  }

  .submit{
    text-align: center;
  }

  
  /* contact */

  .contacts-subtitle {
    font-size: 24px;
    font-weight: 400;
  }

  .contacts-title span {
    font-size: 44px;
  }

  .contacts-title {
    font-size: 33px;
  }

  .contacts-helmet {
    margin: 0px;
  }

  .contact-icon:nth-child(1) {
    max-width: 62px;
    left: 260px;
  }

  .contact-icon:nth-child(5) {
    max-width: 32px;
    left: 260px;
  }

  .free-trial-btn .btn-style .btn-style{
    font-size: 30px;
  }

  .free-trial-btn .btn-style{
    height: 100px;
    font-weight: 700;
    width: 500px;
  }

  .contact {
    padding: 150px 0px 0px 30px;
  }

  .contact-row {
    flex-direction: column-reverse;
  }

  .contact-col-2{
    margin-bottom: 40px;
  }
  .contact-col-1 {
    max-width: 90%;
    margin: auto;
  }

  .footer {
    padding: 200px 40px 80px;
  }

  .footer-logo {
    margin-right: 50px;
    margin-bottom: 35px;
  }

  .footer-copyright {
    font-size: 24px;
  }

  .footer-nav a{
    font-size: 22px;
  }

}

@media only screen and (min-width:767px) and (max-width:1025px){
  .custom-title {
    font-size: 130px;
    text-align: center;
  }

  .heading-down{
    margin: 30px 0px 0px 0px;
  }

  .home-image {
    transform: translate(-39%, -49%);
  }

  .home-col-1 {
    width:100%;
  }

  .home-text-para {
    max-width: 100%;
    font-size: 26px;
  }

  .home-col-2 {
    width:100%;
    margin: auto;
  }

  .home-btn-wrap{
    text-align: center;
  }

  .home-row {
    flex-direction: column;
  }

  .home-img-wrapper {
    top: 321px;
    width:735px;
  }

  .home-icon:nth-child(1) {
    top: 270px;
  }

  .home-icon:nth-child(2) {
    top: 820px;
    left: 745px;
  }

  .home-icon:nth-child(3) {
    top: 760px;
    left: 755px;
  }

  .home-icon:nth-child(4) {
    top: 800px;
    left: 805px;
  }

  .home-icon:nth-child(5) {
    top: 330px;
  }

  /* content */

  .content {
    margin-top: 354px;
  }

  .cRow {
    margin-left:0%;
  }

  .content-content-wrap.col-7 p{
    font-size: 20px;
  }

  h4{
    font-size: 20px;
  }

  .anim-icon-wrap-icon:nth-child(3) {
    top: 49%;
  }

  .anim-icon-wrap-icon:nth-child(4) {
    top: 66%;
  }

  .content-icon:nth-child(1) {
    left: -15px;
    top: 70px;
  }

  .content-icon:nth-child(3) {
    top: 434px;
  }

  .content-icon:nth-child(5) {
    left: 290px;
    top: 360px;
  }

  .content-icon:nth-child(2) {
    left: 360px;
    top: 425px;
  }

  .link-style{
    font-size: 24px;
  }
  /* keypoint */

  

  .keypoint-title{
    top:-135px;
    width:100%;
    left:0;
  }

  .card.keypoint-card {
    margin: auto;
    width: 32%;
  } 
    
  .bottom{
    min-height: 555px;
    font-size: 16px;
    text-align: left;
  }

  .keypoint-icon:nth-child(1) {
    max-width: 40px;
    left: 88px;
    top: -120px;
  }

  .keypoint-icon:nth-child(2) {
    max-width: 20px;
    left: 820px;
    top: -145px;
  }

  .keypoint-icon:nth-child(3) {
    max-width: 38px;
    left: 850px;
    top: -130px;
  }

  /* Tools */

  .tools{
    padding: 0;
  }

  .tools-item {
    width: auto;
  }

  .tools-text{
    font-size: 18px;
  }

  select.input-style-input {
    padding-left: 24%;
  }

  /* Form */

  .app-form {
    padding: 150px 0px 0px 0px;
  }


  /* contact */
  .contact {
    padding: 120px 0px 0px 0px;
  }

  .contacts-title {
    font-size: 26px;
  }
  
  .contact span {
    font-size: 30px;
  }

  .contact-subtitle {
    font-size: 21px;
  }

  .contact-icon:nth-child(1) {
    max-width: 52px;
    left: 205px;
    top: -365px;
  } 

  .contact-icon:nth-child(5) {
    max-width: 32px;
    left: 155px;
    top: -325px;
  }

}



@media only screen and (min-width:1025px){
  .main-container {
    width: 80%;
    margin: auto;
  }
    
}

